:root {
  --media-width-l: 1200px;
  --media-width-m: 640px;
  --media-width-s: 320px;

  --media-height-xl: 1080px;
  --media-height-l: 1024px;
  --media-height-m: 768px;
  --media-height-s: 667px;

  --width-xl: 1200px;
  --width-l: 800px;
  --width-m: 600px;
  --width-s: 300px;

  --padding-header-s: 10px 0;
  --padding-header-m: 20px 0;
  --padding-hero-s: 50px 0;
  --padding-hero-m: 100px 0 50px;
  --padding-hero-l: 100px 0;
  --padding-footer-s: 20px 0;

  --ff-bold: "roboto-700";
  --ff-medium: "roboto-500";
  --ff-regular: "roboto-400";

  --bg-beige: #FFF0E4;
  --bg-light-beige: #FFF8F5;
  --bg-light: #FDFDFD;
  --bg-sale: rgba(255, 248, 245, 0.85);

  --bg-hero-gradient: linear-gradient(180deg, #FFF0E4 0%, rgba(255, 248, 245, 0) 0.01%, rgba(255, 248, 245, 0.5) 25.52%, #FFF8F5 100%);

  --color-dark: #272626;
  --color-logo: #073C2A;
  --color-accent1: #EB8671;
  --color-accent2: #D7537A;

  --transition-duration: .5s;
  --transition-function: easy-out;
}