/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}
.logo:active {
  -webkit-transform: scale(.8);
          transform: scale(.8);
}

.logo__link {
  font-family: var(--ff-bold), sans-serif;
  font-size: 24px;
  color: var(--color-logo);
  text-transform: uppercase;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-function);
          transition-timing-function: var(--transition-function);
}
.logo__link:hover,
.logo__link:focus {
  opacity: .8;
}

.logo__img {
  display: block;
  width: 100px;
  height: auto;
}

@media all and (min-width: 640px) {
  .logo__link {
    text-align: center;
  }
  .logo__link span {
    display: block;
  }
}